a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-header a {
  color: white;
}
.App-header .menu a {
  padding: 10px;
  margin: 10px;
}

.App-header .menu a.selected {
  font-weight: bold;
}

.main-content {
  padding: 20px;
}